* {
    padding: 0;
    margin: 0;
}

.card-form {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.form-date {
    display: flex;
    flex-direction: row;
}

.form-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}